.Modifycontainer{
    
    max-width: 430px;
    max-height: 1409px;
}
.PWWapper{
    width: 155px;
    height: 90px;
    
}
.RPWapper{
    width: 155px;
    height: 90px;
    margin-top: 27px;
    
}
.PWmodify{
    width: 80px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    font-family: 'PretendardVariable', sans-serif;
}
.PWinput{
    width: 149px;
    height: 19px;
}
.PWinputField{
    width: 149px;
    height: 19px;
    font-size: 14px;
}
.PWS{
display: flex;
width: 76px;
height: 14px;
font-size: 12px;

}
.PWview{
    display: flex;
    width: 150px;
    height: 15px;
}
.RPWview{
    display: flex;
    width: 150px;
    height: 15px;
}
input{
    width: 11px;
    display: flex;
    height: 11px;
    border: none;
    border-bottom: 2px solid #000;
   
}

.RPWmodify{
    width: 150px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    font-family: 'PretendardVariable', sans-serif;
}
.RPWinput{
    width: 149px;
    height: 19px;
}
.RPWinputField{
    width: 149px;
    height: 19px;
    font-size: 14px;
}
.NWapper{
    width: 149px;
    height: 60px;
    margin-top: 14px;
}
.Nmodify{
    width: 60px;
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    font-family: 'PretendardVariable', sans-serif;
}
.Ninput{
    width: 148px;
    height: 19px;
}
.NinputField{
    width: 148px;
    height: 19px;
}
.NButton{
    width: 70px;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.Nmessage{

}
.GWapper{
    margin-top: 80px;
    width: 95px;
    height: 51px;
}
.Gender{
    display: flex;
    width: 95px;
    height: 12px;
    font-size: 12px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.Gselect{
    display: flex;
    width: 93px;
    height: 26px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
    
}
.DWapper{
    margin-top: 20px;
    width: 95px;
    height: 51px;
    
    
}
.Dis{
    width: 60px;
    height: 12px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.Dselect{
    display: flex;
    width: 93px;
    height: 26px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
    
}
.FSWapper{
    width: 193px;
    height: 51px;
    margin-top: 20px;
}
.FSport{
    width: 193px;
    height: 12px;
    font-size: 12px;
    display: flex;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.FSportselect{
    display: flex;
    width: 93px;
    height: 26px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.WSWapper{
    margin-top: 20px;
    width: 181px;
    height: 12px;
}
.WSport{
    width: 181px;
    height: 12px;
    font-size: 12px;
    display: flex;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.WSportselect{
    display: flex;
    width: 93px;
    height: 26px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'PretendardVariable', sans-serif;
}
.modifyWapper{
    margin-top: 100px;
}
.modifyButton{
    width: 116px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    background-color: #B9E0FD;
}